<h2><%= facade.house_member_count %> Members</h2>
<% facade.members.each do |member| %>
<ul class="member">
  <li class="name"><%= member.name %></li>
  <li class="id"><%= member.id %></li>
</ul>
<% end  %>
